<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.mdsina.corona" level="debug" />
    <logger name="com.slack.api" level="debug" />
    <logger name="io.micronaut.http" level="trace" />
    <logger name="io.micronaut.context.condition" level="trace" />
    <logger name="io.micronaut.security" level="trace" />
    <logger name="io.micronaut.security" level="trace" />

    <Logger name="org.jooq.tools.LoggerListener" level="error">
        <AppenderRef ref="STDOUT"/>
    </Logger>

    <!-- Other jOOQ related debug log output -->
    <Logger name="org.jooq" level="error">
        <AppenderRef ref="STDOUT"/>
    </Logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
